{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Skill Check {% endblock %}

{% block page_title %}Select Test Skillset{% endblock page_title %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'skillcheck/partials/menu.html' %}
    <div class="col-lg-12">
        <div class="container">
        <!-- Add new skillset row -->
        <div class="row">
            <form class="form-inline" action="{% url 'skillcheck:collection_add' %}" method="post">
                {% csrf_token %}
                <input class="form-control" type="text" name="collection_name" placeholder="{% trans "Collection Name" %}">
                <button class="btn btn-primary" type="submit">Create New Collection</button>
            </form>
        </div>
        <!-- List skill sets with link to edit page -->
        <div class="row">
            <table class="table">
                <thead>
                <th>Collection Name</th><th>Remove</th>
                </thead>
                <tbody>
                    {% for collection in collections %}
                    <tr id="collection-{{ collection.id }}">
                    <td>
                        <a href="{% url 'skillcheck:collection_edit_view' collection.id %}">{{ collection.name }}</a>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-xs" data-action="remove-col" data-id="{{ collection.id }}" data-url="{% url 'skillcheck:collection_remove' %}">Remove</button>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'skillcheck/helper.js' %}"></script>
<script src="{% static 'skillcheck/collection_view.js' %}"></script>
{% endblock extra_javascript %}