{% extends "allianceauth/base.html" %}
{% load bootstrap %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Alliance Auth - Skillcheck {% endblock %}

{% block page_title %}Character Check{% endblock page_title %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
    {% include 'skillcheck/partials/menu.html' %}
    <div class="row">
    <h2>{{ character.character_name }} - {{ collection.name }}</h1>
    {% for result in results %}
    <h4>{{ result.0 }}</h4>
    {% if result.1|length == 0 %}
    <div class="alert alert-success" role="alert">{% trans "PASSED" %}</div>
    {% else %}
    <table class="table">
        <thead><th>Skill Name</th><th>Needed</th><th>Has</th></thead>
        <tbody>
            {% for missing_skill in result.1 %}
            <tr>
            <td>{{missing_skill.0}}</td><td>{{missing_skill.1}}</td><td>{{missing_skill.2}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endfor %}
    </div>
{% endblock content %}
